a:hover{
    text-decoration: none;
}

body{
    border-top: 5px solid #1BA39C;
	font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto';
    width: 100%;
}

.navbar{
    font-size: 1.2em;
  }
.navbar a{
    color: grey;

  }
.logo {
    width: 90px;
    height: 55px;

}
.nav li{
    padding-top: 10px;
}


.type{
    text-align: center;
    font-size: .8em;
    color: white;
    text-transform: capitalize;
    font-weight: 100;

}

.boldtype{
    font-weight: bold;
    color: white;
    font-weight: 600;


}

.subtype{
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-weight: 100;
    border-bottom: 5px solid #e74c3c;

}
.welcome {
    margin-top: 5%;
    color: white;
    font-weight: bold;
    font-size: 2em;
    overflow: hidden;
    width: 60%;
    text-align: center;

}

.main{
    width: 100%;
    height: 400px;
    background: url(../img/cta-bg.jpg);
    background-position: top;
    background-size: cover;
    overflow: hidden;
    margin-top: -15px;

}
.CallToAction{
    width: 100%;
    height: 100%;
    background: #1BA39C;
    text-align: center;
    text-transform: capitalize;

}

.CallToAction h1{
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-weight: 100;
}



.phoneRound{
    border: 2px solid white;
    background: white;
    color: #16a085;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
    margin-top: -15px;
}
.space{
    height: 10px;
}
.showcase,.testimonials {
    text-transform: capitalize;
    color: grey;
    font-family: 'Roboto';
    text-align: center;

}
.showcase{
    width:90%;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
}
.showcase img{
    display: inline;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    padding:5px;
    box-shadow: 5px 0px 0px -10px rgba(0,0,0,0.4);
    transition:all ease-in-out 300ms;

}
.showcase img:hover{
    display: inline-block;
    box-shadow: 5px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px);

}
.btn, .btn-warning, .btn-lg{
    border-radius: 0px;
    margin-right: 0px;
    width: 250px;
    background: #e74c3c;
    border: none;
    width: 100%;
}
.left{
    text-align: center;
    background: #1BA39C;
    color: white;
    border: 1px solid #1BA39C;

}

.testimonialtag{
    text-transform: capitalize;
    color: grey;
    background: ;
    height: 150px;

}
.clientline{
    background: #e74c3c;

    color: grey;

}

.clientline h1{
    padding-left: 10px;
    color: white;
}

.clients{
}
.clients li{
    list-style: none;
    display: inline;
    padding: 5px;

}
.clients img{
    width: 150px;
    height: 150px;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    opacity: 0.7;

}
.footer{
    border-top: 5px solid #e74c3c;
    text-align: center;

}
.footerlogo img{
    width: 70px;
    height: 50px;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    opacity: 0.6;
}
.footerline{
  border-right: 2px solid lightgrey;
}
.footerhead{
    margin-top: 0px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}
.footernav li{
    color: black;
    display: inline;
    list-style: none;
    padding: 10px;
    text-align: center;

 }
.footernav ul{
   text-align: center;
     }
.footer p{
    margin-top: 20px;
}
.item {
  display: none;
    color: black;
}
.img-responsive{
    width:10px;
    height:10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 440px) {
  .container {
    max-width: 1024px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 20px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */

    /*default so you don't need this*/
    div[class^="col"]{padding-left:0px; padding-right:0px;}
    .container{padding-left:0px; padding-right:0px;}
    .row {
    margin-left: 0;
    margin-right: 0;
    }
    .welcome {
    margin-top: 12%;
    }
.type{
    font-size: 110%;
    }

.subtype{
    font-size: 1.5em;

}
.showcase{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
.showcase img{
    width: 167px;
    height: 167px;

}
.btn, .btn-warning, .btn-lg{
    width: 250px;
}

}