{% extends 'mugsandcups/base.html' %}
{% block content %}
{% load staticfiles %}

<div class="mainThree">
    <div class="row">
        <div class="col-md-12 ">
            <div class="col-md-12 actioncall">
                     
            </div>
        </div>
    </div>
</div>
<div class="CallToAction">
    <div class="row">
        <div class="col-md-12 clearfix ">
            <a href="{% url 'mugsandcups:contact' %}"><h1>Mugs and Cups Grenada. Some things about us</h1></a>
        </div>
    </div>
</div>

<div class="container">

     <!-- Intro Content -->
        <div class="row about">
            <div class="col-md-4">
                
                <img class="img-responsive " src="  " alt="" style="padding:20px">
            </div>
            <div class="col-md-8">
                <h2>Mugs and Cups</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>

            </div>
        </div>
        <!-- /.row -->


    {% endblock %}

        
    </div>

