{% extends 'mugsandcups/base.html' %}
{% block content %}
{% load staticfiles %}

    <div class="container mainly">

<div class="space"></div>
                
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 contactwrap">
    <h1 class="type"><span>We would </span><span class="boldtype">love</span> to hear <span class="boldtype"> From You</span> today.</h1>
    </div>
    </div>
</div>

<div class="space"></div>
        </div>
<div class="row ">
    <div class="col-md-12">
    <div class="col-md-12 shadow">
	<div class="filter">
				<div>
                    <span>Filter photos by categories: </span>
					<a href="#" class="sortLink selected" data-category="all">All</a>
					<a href="#" class="sortLink" data-category="Mugs">Mugs</a>
					<a href="#" class="sortLink" data-category="Cups">Cups</a>
					<a href="#" class="sortLink" data-category="Pens">Pens</a>
					<a href="#" class="sortLink" data-category="Other">Other</a>
					<div class="clear_floats"></div>
				</div>
			</div>

			<div class="photos">
				
				<div class="thumbnail_wrap">
                    {% for catalog in catalogs %}

					   <a href="/media/{{catalog.title}}.jpg" class="thumbnail" data-categories="{{catalog.data_categorie}}" title="{{catalog.title}}">
						<img src="/media/{{catalog.title}}.jpg" alt="{{catalog.title}}" class="thumb">
					</a>
                    {% endfor %}
				</div><!-- .thumbnail_wrap end -->

			</div><!-- .photos end -->
    </div>
    </div>
</div>
</div>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="{% static 'inc/fancybox/jquery.fancybox.js' %}"></script>
    <script src="{% static 'inc/gallery.js' %}"></script>
{% endblock %}