{% extends 'mugsandcups/base.html' %}
{% block content %}

    <div class="container mainly">
<div class="space"></div>

<div class="row">
    <div class="col-md-12 ">
        <div class="col-md-12 actioncall">
            <h1 class="type"><span>The fine art of <span class="boldtype">Personalizing <br/>memories</span>  for all <span  class="boldtype"> events</span> and         <span class="boldtype"> occasions,</span><br/>We Do.........</span></h1>
    </div>
    </div>
    
</div>
        <div class="space"></div>

</div>
<div class="space"></div>

    <div class="container">
<div class="space"></div>


<div class="row">
    <div class="col-md-6 colored">
        {% load staticfiles %}

                <img src="{% static 'img/uwi245x200.jpg' %}" alt="uwi printed cups" class="img-responsive jigga">
                <img src="{% static 'img/ordinarycups245x200.jpg' %}" alt="uwi printed cups" class="img-responsive left">
                
                <img src="{% static 'img/granny500x200.jpg' %}" alt="uwi printed cups" class="img-responsive first">
                
                
    </div>
    <div class="col-md-6 colored ">
                <div class="col-md-12 callAND bottom"><h1>Cups | Mugs | Pens</h1>
                     <p>For Birthdays, Weddings, Anniversaries</p>
                </div>
                
                <img src="{% static 'img/husgnd245x200.jpg' %}" alt="uwi printed cups" class="img-responsive jigga">
                <img src="{% static 'img/straightouta245x200.jpg' %}" alt="uwi printed cups" class="img-responsive left">

    </div>
    
</div>
    <div class="space" ></div>


<div class="row">

    <div class="col-md-6 colored ">
                <img src="{% static 'img/ballpoint.jpg' %}" alt="uwi printed cups" class="img-responsive jigga">
                <img src="{% static 'img/keys.jpg' %}" alt="uwi printed cups" class="img-responsive left">
            <div class="col-md-12 callAND top"><h1>Cases | Key Rings | Trophies </h1>
                                                    <p>Sandals, bags, leather</p></div></div>
    
        <div class="col-md-6 colored">
            <img src="{% static 'img/award1-245x200.jpg' %}" alt="uwi printed cups" class="img-responsive">
            <img src="{% static 'img/hand245x200.jpg' %}" alt="uwi printed cups" class="img-responsive left">
            <img src="{% static 'img/flask500x200.jpg' %}" alt="uwi printed cups" class="img-responsive first">


    </div>
</div>

<div class="space" ></div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 marketing">
            <h1>See our Catalog for Much More ...</h1>
        </div>
    </div>
    
</div>
        <div class="space"></div>

</div>
<div class="space"></div>

    <div class="container mainly">
        
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 main ">
            <hr>
            <div class="col-md-6" class="usWrap">
                <p class="usWrap"><span class="boldWrap">Our Clients</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis rhoncus viverra. Fusce id nulla nulla. Integer auctor ligula a tortor iaculis feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere condimentum orci, in ullamcorper sem dapibus eget. Nulla pharetra iaculis imperdiet. Aenean pharetra lobortis diam, vitae ornare mauris malesuada in. Pellentesque id dolor id justo dapibus aliquet at sit amet nibh. Cras iaculis neque vitae purus pretium ullamcorper. Nulla semper sem id ante pharetra elementum. Vestibulum facilisis augue quis volutpat varius. In neque lorem, gravida vitae lorem sed, lobortis varius lectus. Donec varius vitae sem eu blandit. Nam eget <span>READ MORE</span>...</p>
    </div> 
        <div class="col-md-6 ">
          <p class="usWrap"><span class="boldWrap">Our Company</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis rhoncus viverra. Fusce id nulla nulla. Integer auctor ligula a tortor iaculis feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere condimentum orci, in ullamcorper sem dapibus eget. Nulla pharetra iaculis imperdiet. Aenean pharetra lobortis diam, vitae ornare mauris malesuada in. Pellentesque id dolor id justo dapibus aliquet at sit amet nibh. Cras iaculis neque vitae purus pretium ullamcorper. Nulla semper sem id ante pharetra elementum. Vestibulum facilisis augue quis volutpat varius. In neque lorem, gravida vitae lorem sed, lobortis varius lectus. Donec varius vitae sem eu blandit. Nam eget <span>READ MORE</span>...</p>
        </div>
    </div>
</div>
</div>
<!--- testimonials -->
        </div>
<div class="space"></div>

    <div class="container mainly">
    <div class="row">
    <div class="col-md-12">
        <div class="space"></div>

        <div class="col-md-12 testimonialshead">
            <h1>Our Clients</h1>
        </div>
    </div>
</div>

    
        <div class="row">
    <div class="col-md-12">

        <div class="col-md-12 main ">

            <ul class="testimonials">
        {% for testimonial in testimonials %}

                <li><img src="/media/{{testimonial.title}}.jpeg" alt="{{testimonial.title}}"></li>
         {% endfor %}

            </ul>
    </div>
</div>
</div>

        
    </div>
{% endblock %}